html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
#nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#nav-bar ul {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 1.7em;
  width: 230px;
  justify-content: space-between;
}
#nav-bar li {
  display: inline-block;
}
.apps {
  font-size: 1.6em;
  margin: 0 20px;
  vertical-align: middle;
}
.user-photo {
  width: 2.2em;
  border-radius: 50%;
  vertical-align: middle;
}
#nav-bar a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}
#nav-bar a:hover {
  text-decoration: underline;
}
.apps:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 13px rgba(158, 158, 158, 0.219),
    0 0 0 13px rgba(158, 158, 158, 0.219) inset;
}
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65%;
}
.main-img {
  width: 270px;
  align-self: center;
}

.search-bar {
  width: 550px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
input[type="text"] {
  width: 480px;
  border: none;
  outline: none;
}
.btns {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  font-size: 1.4em;
  padding: 8px 15px;
  border: none;
  background: #f8f9fa;
  border-radius: 2px;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0 0 1px #d3d3d3;
}
.languages {
  font-size: 1.4em;
}
.search-bar:hover {
  box-shadow: 1px 1px 3px 1px #d3d3d3;
}
.mic {
  cursor: pointer;
}
.btn:active {
  box-shadow: 0 0 0 1px #176bda;
}
.languages a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}
.languages a:hover {
  text-decoration: underline;
}
footer {
  background: #e9e9e9b6;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.7em;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.link-container {
  display: flex;
}
.link-container li {
  padding: 0 15px;
  list-style: none;
}
.text-padding {
  padding: 15px;
}
.country {
  padding: 15px 30px;
  border-bottom: 1px solid #e0e0e0;
}
.link-container a {
  text-decoration: none;
  color: black;
}
.link-container a:hover {
  text-decoration: underline;
}
